.idea/
cmake-build-*/
*.iws
out/
node_modules/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.DS_Store
Quiety_v6.2.0/