<!--footer section start-->
<footer class="footer-section">
  <!--footer top start-->
  <!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
  <div class="footer-top  bg-gradient text-white ptb-120" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom right">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
          <div class="footer-single-col">
            <div class="footer-single-col mb-4">
              <img src="assets/img/zerobyte-light.png" alt="logo" class="img-fluid logo-white">
              <img src="assets/img/zerobyte-dark.png" alt="logo" class="img-fluid logo-color">
            </div>
            <p>Our latest news, articles, and resources, we will send to
              your inbox weekly.</p>

            <form class="newsletter-form position-relative d-block d-lg-flex d-md-flex">
              <input type="text" class="input-newsletter form-control me-2" placeholder="Enter your email" name="email" required="" autocomplete="off">
              <input type="submit" value="Subscribe" data-wait="Please wait..." class="btn btn-primary mt-3 mt-lg-0 mt-md-0">
            </form>
          </div>
        </div>
        <div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
          <div class="row">
            <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
              <div class="footer-single-col">
                <h3>Pages</h3>
                <ul class="list-unstyled footer-nav-list mb-lg-0">
                  <li><a [routerLink]="['/']" fragment="home" class="text-decoration-none">Home</a></li>
                  <li><a [routerLink]="['/']" fragment="services" class="text-decoration-none">Services</a></li>
                  <li><a [routerLink]="['/']" fragment="about" class="text-decoration-none">About Us</a></li>
                  <li><a routerLink="/contact" class="text-decoration-none">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
              <div class="footer-single-col">
                <h3>Careers</h3>
                <ul class="list-unstyled footer-nav-list mb-lg-0">
                  <li><a routerLink="/blog" class="text-decoration-none">Blog</a></li>
                  <li><a routerLink="/career" class="text-decoration-none">Career</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
              <div class="footer-single-col">
                <h3>Policies</h3>
                <ul class="list-unstyled footer-nav-list mb-lg-0">
                  <li><a routerLink="/cookie-policy" class="text-decoration-none">Cookie Policy</a></li>
                  <li><a routerLink="/privacy-policy" class="text-decoration-none">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--footer top end-->

  <!--footer bottom start-->
  <div class="footer-bottom  bg-gradient text-white py-4">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-7 col-lg-7">
          <div class="copyright-text">
            <p class="mb-lg-0 mb-md-0">&copy; 2023 ZEROBYTE Rights Reserved.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="footer-single-col text-start text-lg-end text-md-end">
            <ul class="list-unstyled list-inline footer-social-list mb-0">
              <li class="list-inline-item"><a href="https://www.facebook.com/zerobytedev/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/zerobytedev" target="_blank"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/company/zerobytedev" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer bottom end-->
</footer>
<!--footer section end-->
